
<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>Footer With Address And Phones</title>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/stylesheets/footer.css">

</head>

	<body>
        <div class="container">
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>M<span>Taarten</span></h3><br>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p>Lelystad, Nederland</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+31 634700961</p>
				</div>

				<!-- <div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@mtaarten.nl">info@mtaarten.nl</a></p>
				</div> -->

			</div>

			<div class="footer-right">
                <p class="footer-links">
					<br><a href="#">Over ons</a><br>
					<br><a href="#">Prijzen</a><br>
					<br><a href="#">Voorwaarden</a><br>
					<br><a href="#">Contact</a><br>
				</p>
		

				<!-- <div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>

				</div> -->

			</div>

        </footer>
    </div>

	</body>

</html>












<!-- <!DOCTYPE html> -->

<!-- <html>
    <head>
        <title>MTaarten</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <div class="container">
        <body>
            <nav class="navbar navbar-default" style="background-color:rgb(231, 231, 231);">
                <div class="container-fluid">
                    <div class="navbar-header">
                       <a class="navbar-brand" href="/">MTaarten</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login">Over ons</a></li>
                            <li><a href="/login">Voorwaarden</a></li>
                            <li><a href="/login">Contact</a></li>
                            <li><a href="/login">Zakelijk</a></li>
                
                        </ul>
                    </div>
                </div>
            </nav>
        </body>
    </div> -->