<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MTaarten</title>
</head>
<h1>Algemeen voorwaarden pagina</h1>