<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/overOnsPage.css">
    <title>MTaarten</title>
</head>
<body>
    <img class="image-banner" src="/imgesHomepageMTaarten/MTaarten banner.png" alt="mmtuts banner">
    <div class="wrapper">
        <article class="image-info">
                <h2>Algemeen voorwaarden MTaarten</h2>
                <p>1. Wij vragen een aanbetaling van 50% vooraf en het resterende bedrag bij oplevering. 
                <p>2. Bij annulering wordt de aanbetaling niet terugbetaald.</p>
                <p>3. Klanten hebben de mogelijkheid om de besteldatum in overleg met ons kosteloos te wijzigen mits de datum binnen het kalenderjaar valt. Voorbeeld besteldatum is 12-januari 2018 en men wilt wijzigen. Dat is mogelijk tot en met 31-december 2018. Daarna wordt de bestelling als geannuleerd gezien.</p>
        </article>
        <img class="image-ons" src="/imgesHomepageMTaarten/algemeen voorwaarden.jpg" alt="William & Maisam">
</body>
