<%- include ('partials/headerAdmin.ejs'); -%>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<div>
    <header class="jumbotron">
        <div class="container">
        <h1>Welkom bij bruidstaarten pagina</h1>
        <p>Bekijk onze aanbod</p>
        </div>
    </header>



        <div class="row">
    
            <% bruidstaarten.forEach((bruidstaart, user) => { %>        
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="/assets/bruidstaartenmap/<%= bruidstaart.image %>" class="rounded-circle player-img" alt="">
                </div>
                <h4><%= bruidstaart.bruidstaartnaam %></h4>
                <!-- <h4><%= bruidstaart.aantalpersonen %></h4> -->
            </div>
                <% }) %>
        </div>

</div>





















