
<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MTaarten</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="/stylesheets/contactPage.css">
    <script>
       function phonenumberValidation()
       {
         var a = document.getElementById("phone").value;
         console.log(a);
        if(a=="") {
            document.getElementById("messages").innerHTML="verdomd";
            return false;
                  }
       if(isNaN(a)){
        document.getElementById("messages").innerHTML="Only number are allowed";
         return false;
       }
       if((a.length<10) || (a.length>14)){
        document.getElementById("messages").innerHTML="Number must be 10 digits ";
         return false;
       }
      }
    </script>
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>M</span>Taarten</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>MTaarten</h3>
        <ul>
          <li><i class="fa fa-map-marker"></i> Lelystad</li>
          <li><i class="fa fa-phone"></i> 0634700961</li>
          <li><i class="fa fa-envelope"></i> info@mtaarten.nl</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Mail ons</h3>
        <p class="text-center text-danger"><%= message %></p>
        <form onsubmit="return phonenumberValidation()" method="POST" action="send">
          <p>
            <label>Naam</label>
            <input type="text" name="name" required>
          </p>
          <p>
            <label>Organisatie</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email</label>
            <input type="email" name="email" required >
          </p>
          <p>
            <label>Telefoonnummer</label>
            <input type="text" name="phone" id="phone" value="">
            <span id="messages"></span>
          </p>
          <p class="full">
            <label>Bericht</label>
            <textarea name="message" rows="5" required></textarea>
          </p>
          <p class="full">
            <input type="submit" value="Submit">
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>

