<div id="partialsHeader">
<%- include ('partials/header.ejs'); -%>
</div>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/homepageMTaarten.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <div class="container">
    <div class="container-fluid">
    <body>
        
        
        <div id="homepageMTaarten-header">
            
                <ul class="slideshow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <h1>Welcome bij MTaarten!</h1> -->
                
        </div>

        <div id="cakeCollections-buttons">
                <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px" href="/bruidsTaartenPage">Bruidstaart</a>
                <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px" href="/verjaardagsTaartenPage">Verjaardagstaarten</a>
                <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px" href="/eerstHeiligeCommunieTaartenPage">Eerst heilige communie taart</a>
                <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px" href="/verlovingsTaartenPage">Verlovingstaarten</a>

        </div>
    </div>
</div>


    </body>

    








</html>
