<div id="partialsHeader">
<%- include ('partials/header.ejs'); -%>
</div>
<html>
    <head>
        <title>MTaarten</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/homepageMTaarten.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="mobile-detect.js"></script>
        <!--Jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--Floating WhatsApp css-->
        <link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
        <!--Floating WhatsApp javascript-->
        <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>
        <script type="text/javascript">  
            $(function () {
                    $('#WAButton').floatingWhatsApp({
                        phone: '+31634700961', //WhatsApp Business phone number
                        headerTitle: 'U chat nu met MTaarten', //Popup Title
                        popupMessage: 'Goedendag, waarmee kunnen wij u helpen', //Popup Message
                        showPopup: true, //Enables popup display
                        buttonImage: '<img src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/whatsapp.svg" />', //Button Image
                        //headerColor: 'crimson', //Custom header color
                        //backgroundColor: 'crimson', //Custom background button color
                        position: "right" //Position: left | right
         
                    });
                });
         </script>  
    </head>

    <body>
         
            <div class="container">
                    <div class="container-fluid">
                        
                            
                            
                            <div id="homepageMTaarten-header">
                                
                                    <ul class="slideshow">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <!-- <h1>Welcome bij MTaarten!</h1> -->
                                    
                            </div>

                            <div id="cakeCollections-buttons">
                                    <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px; width: 15em;" href="/bruidstaartenPage">Bruidstaarten</a><br>
                                    <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px; width: 15em;" href="/verlovingsTaartenPage">Verlovingstaarten</a><br>
                                    <a class="btn btn-primary btn-lg" style="position: relative; margin-bottom: 5px; width: 15em;" href="/verjaardagsTaartenPage">Verjaardagstaarten</a><br>
                            </div>
                        
                    </div>


            </div>
            <div id="WAButton"></div>
        </body>

        <div id="partialsFooter">
            <%- include ('partials/footer.ejs'); -%>
        </div>
</html>
