<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/stylesheets/overOnsPage.css">
</head>
<body>
        <img class="image-banner" src="/imgesHomepageMTaarten/MTaarten banner.png" alt="mmtuts banner">
        <div class="wrapper">
                <article class="image-info">
                        <h2>Het verhaal achter MTaarten</h2>
                        <p>Het is bijna zo ver, de eerste verjaardag van mijn dochter. De stap van baby naar dreumes willen wij natuurlijk gaan vieren. Niet alleen maar met bezoek maar met TAART en uiteraard heel veel cadeautjes! De vraag was bij wie moesten we de taart bestellen?. Naar goed beraad besloot ik samen met mijn man om de taart zelf te gaan maken en versieren. 
                        </p>
                        
                        <p>Na het selecteren een thema, begon ik vroeg met de voorbereiding. Heb heel veel research gedaan op internet en wat Do's en Don'ts bij het bakken. Door de goede voorbereiding heb ik een prima taart gemaakt inclusief versiering. Bezoekers vornden de smaak heerlijk alleen aan de versiering waren nog wat verbeter puntjes.</p>

                        <p>Ik vond het erg leuk om te doen. En ik wilde me meer verdiepen in dit vak. Door veel te lezen en tutorials te volgen op internet heb ik besloten om eigen onderneming te beginnen.</p>

                        <p>Sinds 2017 ben ik met mijn onderneming begonnen en dat doe ik volledig vanuit thuis. Ik doe het met veel plezier en energie. Mijn beste hulpje is mijn natuurlijk. Hij zorgt voor alle overige zaken</p>

                        <p>Beste bezoeker ik ben Maisam Ashoti-Mansur en samen met mijn man zorgen we ervoor om uw taart geheel naar uw eigen wensen te gaan maken.</p>
                </article>
                <img class="image-ons" src="/imgesHomepageMTaarten/Overons.jpg" alt="William & Maisam">
        </div>
</body>
</html>